{% extends 'base.html' %}
{% block content %}


<section class="section-conten padding-y" style="min-height:84vh">


    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">

            {% include 'includes/alerts.html' %}
            <form action="{% url 'otp_varification' %}" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="otp" class="form-control" placeholder="Enter OTP" name="otp">
                    <span id="messages"></span>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block" onclick="return validation()">Enter OTP </button>
                    <br>
                    <a href="{% url 'otp_login' %}" class="float-right">Didn't get the OTP? send OTP again.</a>
                    </div>
                </div> 
            </form>
        </div> 

    </div>


    <p class="text-center mt-4">Login with Email Id. <a href="{% url 'login' %}">Sign up</a></p>
    <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
    <br><br>



</section>


<script>

    function validation(){
        var a = document.getElementById("otp").value;

        if(a==""){
            document.getElementById("messages").innerHTML="Please enter the OTP recievd on your Phone Numb";
            return false;
        }
        if (isNaN(a)){
            document.getElementById("messages").innerHTML="Only Numbers allowed";
            return false;
        }
        if (a.length<6){
            document.getElementById("messages").innerHTML="Please recheck the OTP";
            return false;
        }
        if (a.length>6){
            document.getElementById("messages").innerHTML="Please recheck the OTP";
            return false;
        }

    }


</script>


{% endblock %}