{% include 'admin/admin_base.html' %}
{% load static %}
{% block content %}
    
    <div class="body d-flex py-3">
        <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div
                            class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">All Orders</h3>
                        </div>
                    </div>
                </div> <!-- Row end  -->
            {% for order in orders %}
                <div class="row g-3 mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="myDataTable" class="table table-hover align-middle mb-0"
                                    style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Order Number</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Payment</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Address Line 1</th>
                                            <th>Address Line 2</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th>Order Note</th>
                                            <th>Order Total</th>
                                            <th>Tax</th>
                                            <th>Status</th>
                                            <th>Order Time</th>
                                            <th>Last Action Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ order.order_number }}</td>
                                            <td>{{ order.first_name }}</td>
                                            <td>{{ order.last_name }}</td>
                                            <td>{{ order.payment }}</td>
                                            <td>{{ order.phone }}</td>
                                            <td>{{ order.email }}</td>
                                            <td>{{ order.address_line_1 }}</td>
                                            <td>{{ order.address_line_2 }}</td>
                                            <td>{{ order.city }}</td>
                                            <td>{{ order.state }}</td>
                                            <td>{{ order.country }}</td>
                                            <td>{{ order.order_note }}</td>
                                            <td>{{ order.order_total }}</td>
                                            <td>{{ order.tax }}</td>
                                            <td>{{ order.status }}</td>
                                            <td>{{ order.is_ordered }}</td>
                                            <td>{{ order.created_at }}</td>
                                            <td>{{ order.updated_at  }}</td>
                                            <td><a href="{% url 'admin_orders_status_change' order.id %}" onclick="return confirm('Are you sure you want to change this order status?')" class="btn btn-danger mt-3">Change Status</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}

