{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>

<body>
  <!-- ========================= SECTION MAIN ========================= -->
  <section class="section-intro padding-y-sm">
    <div class="container">
      <div class="intro-banner-wrap">
        <img src="{% static 'images/banners/cover.jpg' %}" class="img-fluid rounded" />
      </div>
    </div>
    <!-- container //  -->
  </section>
  <!-- ========================= SECTION MAIN END// ========================= -->

  <!-- ========================= SECTION  ========================= -->
  <section class="section-name padding-y-sm">
    <div class="container">
      <header class="section-heading">
        <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
        <h3 class="section-title">Popular products</h3>
      </header>
      <!-- sect-heading -->
      <!-- col. -->
      <div class="row">
        {% for product in products %}
        <div class="col-md-3">
          <div class="card card-product-grid">
            <a href="{{ product.get_url }}" class="img-wrap"><img src="{{product.images.url}}" /></a>
            <figcaption class="info-wrap">
              <a href="{{ product.get_url }}" class="title">{{product.product_name}}</a>
              <div class="price mt-1">₹{{product.price}}</div>
              <a href="{{ product.get_url }}" class="btn btn-block btn-primary">Buy Now</a>
              <!-- price-wrap.// -->
            </figcaption>
          </div>
        </div>
        {% endfor %}
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container // -->
  </section>
  <!-- ========================= SECTION  END// ========================= -->
</body>

</html>
<!-- JavaScript Bundle with Popper -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}